.works{
   /*  background-image: url('https://i.ibb.co/71VkzMS/stethescope-bg-2x-min.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
    background-color: #E8F6FF;
    padding: 5vh;
}